{{#> blog/layout original="/" }}

{{#*inline "head-block"}}
<meta name="description" content="Eu sou Marx J. Moura e escrevo sobre tudo que conheço em desenvolvimento de aplicações web. Esse blog é o lugar onde compartilho meu conhecimento e experiência." />
<title>Full-Stack Applications</title>
{{/inline}}

{{#*inline "body-block"}}
{{/inline}}

{{/blog/layout}}
