{{#> blog/page
  lang="pt"
  title="Full-Stack Applications"
  description="Eu sou Marx J. Moura. Neste blog escrevo sobre arquitetura de microsserviços e desenvolvimento de aplicações web."
  original="."
}}

{{#*inline "body-block"}}

 <a href="/br/posts/2019/09/02/inovacao-com-storefront-community.html" class="card mt-4">
  <div class="card-header">
    <svg class="card-img-top">
      <use href="/img/series.svg#storefront-community"></use>
    </svg>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Storefront Community
    </h5>
    <p class="card-text">
      Inovação tecnológica a baixo custo para redes de fast food, restaurantes e cafés.
    </p>
  </div>
</a>

<a href="/br/posts/2019/08/28/arquitetura-de-microsservicos-com-aspnet-core.html" class="card">
  <div class="card-header">
    <svg class="card-img-top">
      <use href="/img/series.svg#netcore-microservices"></use>
    </svg>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Microsserviços com .NET Core
    </h5>
    <p class="card-text">
      Arquitetura robusta e escalável para resolver problemas de negócio complexos.
    </p>
  </div>
</a>

 <a href="/br/posts/2019/08/30/iniciando-com-netcore.html" class="card">
  <div class="card-header">
    <svg class="card-img-top">
      <use href="/img/series.svg#netcore-newbie"></use>
    </svg>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Novo em .NET Core?
    </h5>
    <p class="card-text">
      Treinamento completo para construir uma RESTful API com ASP.NET Core MVC, Entity Framework
      e testes automatizados com xUnit.
    </p>
  </div>
</a>

{{ recent_posts 'br' }}

{{/inline}}

{{/blog/page}}
