{{#> blog/page
  lang="pt"
  title="Política de comentários"
  description="Eu agradeço muito o tempo que você dedica para compartilhar ideias e dar seu feedback no Blog. Contudo, nós somente nos beneficiamos com comentários relevantes."
  path="br/politica-de-comentarios.html"
  original="comment-policy.html"
}}

{{#*inline "body-block"}}
<h1 class="mt-5">
  Política de comentários
</h1>

<p>
  Eu agradeço muito o tempo que você dedica para compartilhar ideias e dar seu feedback no Blog.
  Contudo, nós somente nos beneficiamos com comentários relevantes.
</p>

<p>
  Deixe-me compartilhar com você como podemos fazer isso de uma maneira adequada neste blog:

  <ol>
    <li>Nós seremos respeitosos e educados uns com os outros.</li>
    <li>Nós seremos maduros para argumentar e entender opiniões diferentes.</li>
    <li>Nós seremos atenciosos para não desviar do tema.</li>
  </ol>
</p>
{{/inline}}

{{/blog/page}}
