.author {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4rem 0;

  a {
    text-decoration: none;
  }

  img {
    border-radius: 50%;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .15), 0 .125rem .25rem 0 rgba(0, 0, 0, .1);
    margin-right: 2rem;
    height: 8rem;
    width: 8rem;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0;
  }

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    display: block;

    p {
      text-align: center;
    }

    img {
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }
}
