.author {
  display: flex;
  align-items: center;
  padding: 4rem 0 2rem 0;
  text-align: center;

  img {
    border-radius: 50%;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .15), 0 .125rem .25rem 0 rgba(0, 0, 0, .1);
    margin-right: 2rem;
    height: 8rem;
    width: 8rem;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0;
  }

  &.author-sm {
    img {
      margin-right: 1rem;
      height: 4rem;
      width: 4rem;
    }
  }

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    display: block;

    img {
      margin-bottom: 2rem;
      margin-right: 0;
    }

    &.author-sm {
      display: flex;

      img {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }
  }
}
