h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 4rem 0 2rem 0;
}

p {
  margin-bottom: 2rem;
}

small {
  color: $text-muted;
  display: block;
  margin: 4rem 0 1rem 0;
}

ol {
  counter-reset: item;

  > li {
    counter-increment: item;
  }

  ol > li {
    display: block;
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
  }
}
