{{#> blog/page
  lang="en"
  title="Innovation with Storefront Community"
  description="The Storefront Community is a project focused on innovating the food retail insdustry promoting convenience for people making the establishments more modern and efficient at low cost."
  image="posts/2019/09/02/cover.png"
  path="posts/2019/09/02/innovation-with-storefront-community.html"
  translation="br/posts/2019/09/02/inovacao-com-storefront-community.html"
  disqus="2019/09/02/innovation-with-storefront-community"
}}

{{#*inline "body-block"}}
<small>
  02 September 2019
</small>

<h1>
  Innovation with Storefront Community
</h1>

<figure>
  <img src="/posts/2019/09/02/cover.png" alt="Storefront Community">
</figure>

<p>
  The Storefront Community is a project focused on innovating the food retail insdustry
  promoting convenience for people making the establishments more modern and efficient at low cost.
</p>

<p>
  This project is molded onder the vision that technology should be present anywhere and available to anyone.
  With this idea in mind, what we seek is to develop a technology solution that acts on a large scale being
  financially accessible to any company.
</p>

<p>
  Currently the Storefront Community project has two applications:
  a <b>self-order kiosk app</b> and a <b>digital menu board app</b>.
</p>

<h2 id="self-order-kiosk">
  Self-order kiosk app
  <a href="#self-order-kiosk"></a>
</h2>

<p>
  It is an application that the customer interacts with by using
  <a href="https://google.com/search?q=self-order-kiosk&tbm=isch" target="_blank">self-service terminals</a>
  to make their order on their own, that is, without the need of another person to serve it.
</p>

<p>
  The Storefront Community project offers an application that supports the presentation of the dishes in categories,
  with the possibility of customizing the chosen dish according to the configuration made by the establishment.
</p>

<p>
  The application uses cloud computing (connected to the Internet), eliminating the need for local installation.
  It can be used from any touchscreen arranged horizontally or vertically.
</p>

<p>
  This solution, besides being able to be deployed in self-service terminals, is also compatible with smartphones
  whose access can be done by reading a QR Code.
</p>

<p>
  <a href="https://kiosk.storefront.community/">Access a demonstration of this app</a>
  and feel how the interaction happens in a fluid and intuitive way.
</p>

<h2 id="menu-board">
  Digital menu board app
  <a href="#menu-board"></a>
</h2>

<p>
  <a href="https://google.com/search?q=digital-menu-board&tbm=isch" target="_blank">Digital menu board</a>
  is a digital board used to present and highlight the dishes through static images or videos.
  This strategy is highly exploited by fast food restaurants.
</p>

<p>
  The Storefront Community project offers an application that allows presentations with animated images and texts.
  Presentations are updated in real time from anywhere using a PC or smartphone connected to the Internet.
</p>

<p>
  <a href="https://menu.storefront.community/">Access a demonstration of this app</a>
  and see how the dishes can be presented in a modern and attractive way.
</p>

{{/inline}}

{{/blog/page}}
