{{#> blog/page
  lang="pt"
  title="Inovação com Storefront Community"
  description="O Storefront Community é um projeto focado em inovar o ramo de varejo de alimentos promovendo conveniência para as pessoas tornando os estabelecimentos mais modernos e eficientes a baixo custo."
  image="br/posts/2019/09/02/cover.png"
  path="br/posts/2019/09/02/inovacao-com-storefront-community.html"
  original="posts/2019/09/02/innovation-with-storefront-community.html"
  disqus="2019/09/02/innovation-with-storefront-community"
}}

{{#*inline "body-block"}}
<small>
  02 de setembro de 2019
</small>

<h1>
  Inovação com Storefront Community
</h1>

<figure>
  <img src="/br/posts/2019/09/02/cover.png" alt="Storefront Community">
</figure>

<p>
  O Storefront Community é um projeto focado em inovar o ramo de varejo de alimentos promovendo
  conveniência para as pessoas tornando os estabelecimentos mais modernos e eficientes a baixo custo.
</p>

<p>
  Esse projeto é moldado sob a visão de que tecnologia deve estar presente em qualquer lugar e disponível para
  qualquer pessoa. Com essa ideia em mente, o que buscamos é desenvolver uma solução tecnológica que atue em larga
  escala sendo financeiramente acessível para qualquer empresa.
</p>

<p>
  Atualmente o projeto Storefront Community possui dois aplicativos:
  um <b>aplicativo para totens de autoatendimento</b> e
  um <b>aplicativo de menu board digital</b>.
</p>

<h2 id="totem-autoatendimento">
  Aplicativo para totens de autoatendimento
  <a href="#totem-autoatendimento"></a>
</h2>

<p>
  É um aplicativo o qual o cliente interage usando
  <a href="https://google.com/search?q=self-order-kiosk&tbm=isch" target="_blank">totens de autoatendimento</a>
  para fazer seu pedido por conta própria, ou seja, sem a necessidade de uma outra pessoa para atendê-lo.
</p>

<p>
  O projeto Storefront Community oferece um aplicativo que suporta a apresentação dos pratos em categorias,
  com possibilidade de customizar o prato escolhido de acordo com a configuração realizada pelo estabelecimento.
</p>

<p>
  O aplicativo usa computação em nuvem (conectado com a internet), eliminando a necessidade de instalação local.
  Pode ser usado a partir de qualquer tela sensível ao toque (touchscreen) disposta na horizontal ou na vertical.
</p>

<p>
  Essa solução além de poder ser implantada em totens de autoatendimento,
  também é compatível com smartphones cujo acesso pode ser feito por meio da leitura de um QR Code.
</p>

<p>
  <a href="https://kiosk.storefront.community/">Acesse uma demonstração desse aplicativo</a>
  e sinta como a interação acontece de maneira fluída e intuitiva.
</p>

<h2 id="menu-board-digital">
  Aplicativo de menu board digital
  <a href="#menu-board-digital"></a>
</h2>

<p>
  <a href="https://google.com/search?q=digital-menu-board&tbm=isch" target="_blank">Menu board digital</a>
  é um quadro digital usado para apresentar e destacar os pratos por meio de imagens estáticas ou vídeos.
  Essa estratégia é muito explorada por redes de fast food.
</p>

<p>
  O projeto Storefront Community oferece um aplicativo que possibilita apresentações com imagens e textos animandos.
  As apresentações são atualizadas em tempo real de qualquer lugar usando um PC ou um smartphone conectado à internet.
</p>

<p>
  <a href="https://menu.storefront.community/">Acesse uma demonstração desse aplicativo</a>
  e veja como os pratos podem ser apresentados de um jeito moderno e atraente.
</p>

{{/inline}}

{{/blog/page}}
