{{#> blog/page
  lang="en"
  title="Full-Stack Applications"
  i18n-disabled="true"
  header-hidden="true"
}}

{{#*inline "head-block"}}
<meta name="robots" content="noindex">
{{/inline}}

{{#*inline "body-block"}}
<h1 class="mt-3 mb-5">
  Page not found
</h1>
<p>
  The page you are looking for does not exist or may have been removed.
</p>
<p>
  Don't worry, you can find more content <a href="/">here</a>.
</p>
{{/inline}}

{{/blog/page}}
