{{#> blog/page
  lang="en"
  title="Comment policy"
  description="I really appreciate the time you spend to share ideas and give feedback on Full-Stack Applications. However, we only benefit from relevant comments."
  translation="br/politica-de-comentarios.html"
}}

{{#*inline "body-block"}}
<h1 class="mt-5">
  Comment policy
</h1>

<p>
  I really appreciate the time you spend to share ideas and give feedback on Full-Stack Applications.
  However, we only benefit from relevant comments.
</p>

<p>
  Let me share with you how we can do this in a proper way on this blog:

  <ol>
    <li>We'll be respectful and polite to each other.</li>
    <li>We'll be mature to argue and understand different opinions.</li>
    <li>We'll be considerate not to stray from the subject.</li>
  </ol>
</p>
{{/inline}}

{{/blog/page}}
