{{#> blog/page
  lang="en"
  title="Full-Stack Applications"
  description="I'm Marx J. Moura. In this blog I write about microservice architecture and web application development."
  translation="br"
}}

{{#*inline "body-block"}}

 <a href="/posts/2019/09/02/innovation-with-storefront-community.html" class="card mt-4">
  <div class="card-header">
    <svg class="card-img-top">
      <use href="/images/series.svg#storefront-community"></use>
    </svg>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Storefront Community
    </h5>
    <p class="card-text">
      Technological innovation at low cost for fast food industry, restaurants and cafes.
    </p>
  </div>
</a>

<a href="/posts/2019/08/28/microservice-architecture-with-aspnet-core.html" class="card">
  <div class="card-header">
    <svg class="card-img-top">
      <use href="/images/series.svg#netcore-microservices"></use>
    </svg>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Microservices with .NET Core
    </h5>
    <p class="card-text">
      ASP.NET Core RESTful APIs as microservices and shared as Docker images.
    </p>
  </div>
</a>

 <a href="/posts/2019/08/30/get-started-with-netcore.html" class="card">
  <div class="card-header">
    <svg class="card-img-top">
      <use href="/images/series.svg#netcore-newbie"></use>
    </svg>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      New on .NET Core?
    </h5>
    <p class="card-text">
      Complete training to build a RESTful API with ASP.NET Core MVC, Entity Framework and automated tests with xUnit.
    </p>
  </div>
</a>

{{ recent_posts '' }}

{{/inline}}

{{/blog/page}}
