{{#> blog/layout translation="/br" }}

{{#*inline "head-block"}}
<meta name="description" content="I'm Marx J. Moura and I write all I know about building web applications. This blog is the place where I share my knowledge and experience." />
<title>Full-Stack Applications</title>
{{/inline}}

{{#*inline "body-block"}}
{{ recent_posts '' }}
{{/inline}}

{{/blog/layout}}
